[submodule "dependencies/cuDecomp"]
	path = dependencies/cuDecomp
	url = https://github.com/NVIDIA/cuDecomp
[submodule "dependencies/2decomp-fft"]
	path = dependencies/2decomp-fft
	url = https://github.com/CaNS-World/2decomp-fft
