[submodule "dependencies/cuDecomp"]
	path = dependencies/cuDecomp
	url = git@github.com:NVIDIA/cuDecomp.git
[submodule "dependencies/2decomp-fft"]
	path = dependencies/2decomp-fft
	url = git@github.com:CaNS-World/2decomp-fft.git
