name: compilation test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: install software
      run: sudo apt-get update; sudo apt-get install gfortran libopenmpi-dev libfftw3-dev
    - name: test compilation
      run: |
        make libs
        make && make clean
        make FFLAGS+=-fopenmp LIBS+=-lfftw3_threads && make clean
